
.parent-container{
    width: 500px;
    height: 500px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.child-container{
    position: absolute;
    border-radius: 15px;
}
#red{
    background-color: red;
    text-align: center;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    width: 28%;
    max-width: 130px;
}
#grey{
    background-color: gainsboro;
    padding: 30px;
    position: absolute;
    top: 25%;
}