


/* PONER EJEMPLOS DE CADA UNO Y DEJAR LISTO PARA ESTUDIAR */




*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.parent{
    border: 2px black dotted; /* Dotted es punteado */
    display: inline-block;
}

.box{
    display: inline-block;
    background-color: red;
    width: 100px;
    height: 100px;
}

#two{
    background-color: green;
    /* position: static; ---> por defecto. No es afectado por las propiedades top, bottom, left o right */
    
    /* position: relative; ---> Igual que static pero se puede usar top, bottom, left y right. Es relativo a su posicion normal */
    
    /*position: absolute; ---> Es relativo al primer padre posicionado. */
    
    /* position: fixed; ---> Te acompaña. Es relativo al viewport, aunque scrollee el elemento va a estar fijo */
    bottom: 15px; /* Se puede aplicar esta propiedad solo si se aplica position:relative; */
}
